<!DOCTYPE html>
<html>

<head>
    <title>The wild mart</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="The wild mart online ecommerce">
    <meta name="keywords" content="the wild mart,tea ,honey ,coffee">
    <meta name="author" content="Mohan Raj dhana sekar">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style type="text/css">
        .sidenav {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 250px;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: #111;
            /* Black */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 0px;
            padding-left: 20px;
        }

        /* The navigation menu links */
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

        /* Style page content */
        .main {
            margin-left: 160px;
            /* Same as the width of the sidebar */
            padding: 0px 10px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <div class="sidenav">
        <form action="/admin-signout" method="GET">
            <button type="submit" class="btn btn-success btn-sm mt-2" style="margin-left: 150px;">Logout</button>
        </form>
        <div class="row ml-3" style="margin-top: 20px;">
            <div style="border: 1px solid white;border-radius: 15px;">
                <img src="/public/images/logowild.png" height="50px" width="50px" style="padding: 5px;">
            </div>
            <h5 class="ml-2 text-light mt-2">Mr. Kumar</h5>
        </div>
        <hr class="bg-secondary mr-3" />
        <a href="/managecategory" class="mt-4">Manage Category</a>
        <a href="/addproduct">Add Product</a>
        <a href="/manageproduct">Manage Product</a>
        <a href="/manageproductqty">Manage Product quantity</a>
        <a href="/managevideo">Manage Videos</a>
    </div>
    <!-- Page content -->
    <div class="main">
        <div class="text-center ml-3">
            <img src="/public/images/logowild.png" width="180px" height="180px">
        </div>
        <hr />