<section class="mt-3">
  <footer class="bg-dark mb-0 pb-2 pt-2">
    <h6 style="color: #fff;text-align: center;">Copyright &copy; www.thewildmart.com</h6>
  </footer>
</section>




<!-- javascript files for wild mart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- owl carousel js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
  integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
  crossorigin="anonymous"></script>

<script src="owllibrary/docs/assets/vendors/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="owllibrary/dist/owl.carousel.js"></script>
<!-- our js file -->
<script type="text/javascript" src="/public/js/script.js"> </script>


</body>

</html>