
<html>
<head>
    <title>The wild mart</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="The wild mart online ecommerce">
    <meta name="keywords" content="the wild mart,tea ,honey ,coffee">
    <meta name="author" content="Mohan Raj dhana sekar">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- font awsome  js -->
    <script src="https://use.fontawesome.com/93e5e65cb5.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- rating css -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>



    <!-- our styles -->
    <link rel="stylesheet" type="text/css" href="/public/css/mainstyle.css">
    <!-- owl library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
        integrity="sha512-X/RSQYxFb/tvuz6aNRTfKXDnQzmnzoawgEQ4X8nZNftzs8KFFH23p/BA6D2k0QCM4R0sY1DEy9MIY9b3fwi+bg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
        integrity="sha512-f28cvdA4Bq3dC9X9wNmSx21rjWI+5piIW/uoc2LuQ67asKxfQjUow2MkcCNcfJiaLrHcGbed1wzYe3dlY4w9gA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.min.css"
        integrity="sha512-1rUauSOKExLvRq1W54SZexX5zRJqdYr8imrbspYyy1jLSWYcHqQRej2sBVJU/fhkC8Gu5wT4rEZ/nrSn8IeuhQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="owllibrary/dist/assets/owl.theme.default.min.css">
</head>

<body>
    <!-- The social media icon bar -->
    <div class="icon-bar">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
        <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
    </div>

    <!-- top navigation bar -->
    <section class="mr-0 ml-0">
        <div class="row" id="topnav">
            <div class="col-sm">
                <form class="form-inline">
                    <input type="text" name="search" class="mx-auto searchinput pl-5 mb-xs-4 col-xl-8 col-sm-10"
                        placeholder="Search products here ...">
                </form>
            </div>
            <div class="col-sm ml-xl-5 mt-2">
                <% if (customer) { %>
                <a href="/checkout" class="ml-xl-5  ml-0  mt-sm-4 text-light" href="www.google.com"><span><i
                            class="fa fa-truck pr-1"></i></span>Track your order</a>
                <a href="/managecart" class="ml-xl-5   ml-3  mt-sm-4 text-light"><span><i
                            class="fa fa-shopping-cart pr-1"></i></span>Cart (<%= customer.cartcount %> )</a>
                <a href="/checkout" class="ml-xl-5 ml-3 mt-sm-4 text-light"><span><i
                            class="fa fa-check-circle pr-1"></i></span>Checkout</a>

                <div class="dropdown">
                    <a href="#" class="ml-xl-5   pl-xl-0   mt-sm-4 text-light Sign dropdown-toggle"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><span><i class="fa fa-user pr-1"></i></span><%= customer.name %></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/customer/update">Update Details</a>
                        <a class="dropdown-item" href="/customer/orders">Recent Orders</a>
                        <a class="dropdown-item" href="/signout">Logout</a>
                    </div>
                </div>
                </a>
                <% } else { %>
                <a href="/checkout" class="ml-xl-5  ml-0  mt-sm-4 text-light" href="www.google.com"><span><i
                            class="fa fa-truck pr-1"></i></span>Track your order</a>
                <a href="/managecart" class="ml-xl-5   ml-3  mt-sm-4 text-light"><span><i
                            class="fa fa-shopping-cart pr-1"></i></span>Cart (0)</a>
                <a href="/checkout" class="ml-xl-5 ml-3 mt-sm-4 text-light"><span><i
                            class="fa fa-check-circle pr-1"></i></span>Checkout</a>
                <a href="/signin" class="ml-xl-5   pl-xl-0   mt-sm-4 text-light Sign"><span><i
                            class="fa fa-user pr-1"></i></span>Sign In</a>
                <% } %>

            </div>
        </div>
    </section>