<%- include('includes/headers') %>


<!-- logo section-->
<section>
  <div style="text-align: center;">
    <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <div class="error-template">
          <h1>
            Oops!</h1>
          <h2>
            404 Not Found</h2>
          <div class="error-details">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions mt-3">
            <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home" aria-hidden="true"></span>
              Take Me Home </a>
            <a href="/contact" class="btn btn-default btn-lg"><span class="fa fa-envelope-o"></span> Contact
              Support </a>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
