<%- include('includes/adminsidebar') %>

<div style="margin-left: 100px;">

  <!-- error message loop -->
  <% errors.forEach(message => { %>
  <div class="alert alert-danger text-center"><%= message %> </div>
  <% });  %>


  <form class="form-group m-5" method="POST" action="/addproduct" enctype="multipart/form-data">


    <div>
      <label for="categoryid" class="ml-2">Choose Category</label>
      <select class="form-control col-md-6" name="categoryid" id="categoryid">
        <option>Select category</option>
        <% if (categorylist != null) { %>
        <% categorylist.forEach(category => { %>
        <option value="<%= category.categoryid %> "><%= category.name %></option>
        <% }) %>
        <% } else { %>
        <option><strong>Category Not Available</strong></option>
        <% } %>
      </select>
    </div>


    
    <div>
      <label for="productname" class="ml-2">Product Name</label>
      <input type="text" name="productname" placeholder="Enter product name" class="form-control col-md-6"
        id="productname">
    </div>
    <div>
      <label for="description" class="ml-2">Description</label>
      <textarea name="description" class="form-control col-md-6" id="description" cols="30" rows="5"></textarea>
    </div>
    <div>
      <label for="price" class="ml-2">Price</label>
      <input type="text" name="price" placeholder="Enter product price" class="form-control col-md-6" id="price">
    </div>

    <!-- <div>
      <label for="quantitytype" class="ml-2">Choose quatity type</label>
      <select class="form-control col-md-6" name="quantitytype" id="quantitytype">
        <option>Select quantity type</option>
        <option>kg</option>
        <option>g</option>
        <option>l</option>
        <option>ml</option>
      </select>
    </div>

    <div>
      <label for="quantityoption" class="ml-2">Enter quatity options</label>
      <input type="text" name="quantityoption" placeholder="Enter quantity options" class="form-control col-md-6"
        id="quantityoption">
    </div>



    <div>
      <label for="quantity" class="ml-2">Quantity</label>
      <input type="number" name="quantity" placeholder="Enter Quantity" class="form-control col-md-6" id="price">
    </div>



    <div>
      <label for="shipmentpercent" class="ml-2">Shipment Percentage</label>
      <input type="number" name="shipmentpercent" placeholder="Enter Shipment Percentage" class="form-control col-md-6"
        id="price">
    </div> -->
    <div>
      <label for="isfeatured" class="ml-2">Choose to add product in featured list</label>
      <select class="form-control col-md-6" name="isfeatured" id="quantitytype">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div>
      <label for="istopselling" class="ml-2">Choose to add product in top selling list</label>
      <select class="form-control col-md-6" name="istopselling" id="quantitytype">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div>
      <label for="isrecentlybought" class="ml-2">Choose to add product in recently bought together list</label>
      <select class="form-control col-md-6" name="isrecentlybought" id="quantitytype">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <div>
      <label for="image">Product Image</label><br />
      <input type="file" name="image" accept="image/*" multiple>
    </div>
    <div class="mt-3 ">
      <button type="submit" class="btn btn-primary col-md-3">Upload</button>
    </div>
  </form>
</div>

</div>

</body>


<!-- <script language="javascript" type="text/javascript">
  function dropdownlist(dropdownvalue) {
    switch (dropdownvalue) {
      case "g":
        document.getElementById("quantityoption").options[0] = new Option("Select size", "");
        document.getElementById("quantityoption").options[1] = new Option("250g", "250g");
        document.getElementById("quantityoption").options[2] = new Option("250g,500g", "250g,500g");
        document.getElementById("quantityoption").options[3] = new Option("250g,500g,1000g", "250g,500g,1000g");
        break;
      case "ml":
        document.getElementById("quantityoption").options[0] = new Option("Select size", "");
        document.getElementById("quantityoption").options[1] = new Option("250ml", "250ml");
        document.getElementById("quantityoption").options[2] = new Option("250ml,500ml", "250ml,500ml");
        document.getElementById("quantityoption").options[3] = new Option("250ml,500ml,1000L", "250ml,500ml,1000L");
        break;
      case "kg":
        document.getElementById("quantityoption").options[0] = new Option("Select size", "");
        document.getElementById("quantityoption").options[1] = new Option("1kg", "1kg");
        document.getElementById("quantityoption").options[2] = new Option("1.5kg,1kg", "1.5kg,1kg");
        document.getElementById("quantityoption").options[3] = new Option("2kg,1.5kg,1kg", "2kg,1.5kg,1kg");
        break;
      case "l":
        document.getElementById("quantityoption").options[0] = new Option("Select size", "");
        document.getElementById("quantityoption").options[1] = new Option("1l", "1l");
        document.getElementById("quantityoption").options[2] = new Option("1.5l,1l", "1.5l,1l");
        document.getElementById("quantityoption").options[3] = new Option("2l,1.5l,1l", "2l,1.5l,1l");
        break;
    }
    return true;
  }
</script> -->

</html>