<%- include('includes/headers') %>


<div class="container mt-2">
    <!-- logo section-->
    <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5 mt-3">Admin - Sign In</h5>
    <section>
        <div style="text-align: center;">
            <img src="/public/images/logowild.png" width="180px" height="180px">
        </div>
    </section>



    <div class="signin mt-3">
        <!-- error message loop -->
        <% errors.forEach(message => { %>
        <div class="alert alert-danger text-center"><%= message %> </div>
        <% });  %>
        <form action="/admin-signin" method="POST">
            <div class="text-center">
                <input type="text" name="email" class="col-sm-4 " placeholder=" Email"
                    style="height: 45px;border-radius: 5px;border: 1px solid gray;"><br />
                <input type="password" name="password" class="col-sm-4 mt-3" placeholder=" Password"
                    style="height: 45px;border-radius: 5px;border: 1px solid gray;">

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-info mx-auto col-sm-4">Sign In</button><br />
                </div>
            </div>
        </form>
    </div>
</div>



<%- include('includes/footers') %>