<%- include('includes/adminsidebar') %>


<!-- error message loop -->
<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<% if (productlist != null) { %>
<table class="table" style="margin-left: 80px;">
  <thead>
    <th scope="col">Product ID</th>
    <th scope="col">Product Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Image</th>
    <th scope="col">Manage</th>
  </thead>
  <tbody>
    <% productlist.forEach(product => { %>
    <tr>
      <td><%= product.productid %></td>
      <td><%= product.productname %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <% var imgs = product.image %>
      <% var imgarr = JSON.parse(imgs)  %>
      <% var finalarr = imgarr.imagearray  %>
      <% for( let index = 0; index < finalarr.length ; index++ ) { %>
      <td><img src=<%= finalarr[index] %> width="100" height="100"></td>
      <% } %>

      <td>
        <div>
          <form action="/getproduct/<%= product.productid %>" method="get">
            <button type="submit" class="btn btn-sm btn-primary col-6" type="button" data-toggle="modal" name="editbtn"
              data-target="#editmodal">Edit</button>
          </form>
          <form action="/delete-product/<%= product.productid %>" method="get">
            <button type="submit" class="btn btn-sm btn-danger col-6 mt-2" type="button" data-toggle="modal"
              name="editbtn" data-target="#editmodal">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<center>
  <div class="alert alert-primary align-self-center mt-5" role="alert">
    <a class="alert-link">Products not available </a>
  </div>
</center>
<% } %>

</div>

</body>

</html>