<%- include('includes/adminsidebar') %>

<!-- error message loop -->
<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>

<% if (videodetail != null) { %>

<div style="margin-left: 100px;">
  <form action="/updatevideo" class="form-group m-5" method="POST">
    <div>
      <label for="videoid" class="ml-2">Video Id</label>
      <input type="text" name="videoid" value="<%= videodetail.videoid %> " class="form-control col-md-6" id="videoid">
    </div>
    <div>
      <label for="title" class="ml-2">Video title</label>
      <input type="text" name="title" value="<%= videodetail.title %> " class="form-control col-md-6" id="title">
    </div>
    <div>
      <label for="description" class="ml-2">Video description</label>
      <input type="text" name="description" value="<%= videodetail.description %> " class="form-control col-md-6"
        id="description">
    </div>
    <div>
      <label for="link" class="ml-2">Link for video</label>
      <input type="text" name="link" value="<%= videodetail.link %>" class="form-control col-md-6" id="link">
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary col-md-3">Update</button>
    </div>
  </form>
</div>

<% } else { %>


<div style="margin-left: 100px;">
  <form action="/addvideo" class="form-group m-5" method="POST">
    <div>
      <label for="title" class="ml-2">Video title</label>
      <input type="text" name="title" placeholder="Enter video title " class="form-control col-md-6" id="title">
    </div>
    <div>
      <label for="description" class="ml-2">Video description</label>
      <input type="text" name="description" placeholder="Enter video description" class="form-control col-md-6"
        id="description">
    </div>
    <div>
      <label for="link" class="ml-2">Link for video</label>
      <input type="text" name="link" placeholder="Enter video link" class="form-control col-md-6" id="link">
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary col-md-3">Add video</button>
    </div>
  </form>
</div>


<% } %>


<% if (videolist != null) { %>

<table class="table" style="margin-left: 80px;">
  <thead>
    <th scope="col">Video Id</th>
    <th scope="col">video title</th>
    <th scope="col">description</th>
    <th scope="col">Link</th>
    <th></th>
  </thead>
  <tbody>

    <% videolist.forEach(video => { %>

    <tr>
      <td><%= video.videoid %> </td>
      <td><%= video.title %></td>
      <td><%= video.description %></td>
      <td><%= video.link %> </td>
      <td>
        <div>
          <form action="/video-update/<%= video.videoid %>" method="get">
            <button type="submit" class="btn btn-sm btn-primary col-6" name="editbtn">Edit</button>
          </form>
          <form action="/video-delete/<%= video.videoid %>" method="get">
            <button type="submit" class="btn btn-sm btn-danger col-6 mt-2">Delete</button>
          </form>
        </div>
      </td>
    </tr>

    <% }) %>

  </tbody>
</table>


<% } else { %>
<center>
  <div class="alert alert-primary align-self-center mt-5" role="alert">
    <a class="alert-link">Video not available </a>
  </div>
</center>
<% } %>

</div>

</body>

</html>