<%- include('includes/adminsidebar') %>


<!-- error message loop -->
<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<% if (categorydetail != null) { %>


<div style="margin-left: 100px;">
	<form class="form-group" method="POST" action="/updatecategory">
		<div>
			<label for="categoryid" class="ml-2">Category id</label>
			<input type="text" name="categoryid" value="<%= categorydetail.categoryid %> " class="form-control col-md-6"
				id="categoryid">
		</div>
		<div>
			<label for="categoryname" class="ml-2">Category Name</label>
			<input type="text" name="categoryname" value="<%= categorydetail.name %> " class="form-control col-md-6"
				id="categoryname">
		</div>
		<div>
			<label for="description" class="ml-2">Description</label>
			<input type="text" name="description" value="<%= categorydetail.description %>"
				class="form-control col-md-6" id="description">
		</div>
		<div class="mt-3 ">
			<button type="submit" class="btn btn-primary col-md-3">Update Category</button>
		</div>
	</form>
</div>

<% } else { %>

<div style="margin-left: 100px;">
	<form class="form-group" method="POST" action="/addcategory">
		<div>
			<label for="categoryname" class="ml-2">Category Name</label>
			<input type="text" name="categoryname" placeholder="Enter category name" class="form-control col-md-6"
				id="categoryid">
		</div>
		<div>
			<label for="description" class="ml-2">Description</label>
			<input type="text" name="description" placeholder="Enter category description" class="form-control col-md-6"
				id="description">
		</div>
		<div class="mt-3 ">
			<button type="submit" class="btn btn-primary col-md-3">Add Category</button>
		</div>
	</form>
</div>


<% } %>



<% if (categorylist != null) { %>
<table class="table" style="margin-left: 80px;">
	<thead>
		<th scope="col">CategoryId</th>
		<th scope="col">Category Name</th>
		<th scope="col">Description</th>
		<th scope="col">Manage</th>
	</thead>
	<tbody>
		<% categorylist.forEach(category => { %>
		<tr>
			<td><%= category.categoryid %> </td>
			<td><%= category.name %> </td>
			<td><%= category.description %> </td>
			<td>
				<div>
					<form action="/category-update/<%= category.categoryid %>" method="get">
						<button type="submit" class="btn btn-sm btn-primary col-6" name="editbtn">Edit</button>
					</form>
					<form action="/category-delete/<%= category.categoryid %>" method="get">
						<button type="submit" class="btn btn-sm btn-danger col-6 mt-2">Delete</button>
					</form>
				</div>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>

<% } else { %>

<div class="container">
	<center>
		<div class="alert alert-primary align-self-center mt-5" role="alert">
			<a class="alert-link">Top selling products not available </a>
		</div>
	</center>
</div>


<% } %>





</div>

</body>

</html>