<%- include('includes/adminsidebar') %>


<!-- error message loop -->
<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<!-- add and update section -->



<% if (productqtydetail != null) { %>
<div style="margin-left: 100px;">
  <form class="form-group" method="POST" action="/updateproductqty">

    <input type="hidden" name="productqtyid" value=<%= productqtydetail.productqtyid %> id="productqtyid">
    <div>
      <label for="productid" class="ml-2">Product ID</label>
      <input type="text" name="productid" value="<%= productqtydetail.productid %>" class="form-control col-md-6"
        id="productid">
    </div>
    <div>
      <label for="price" class="ml-2">Price</label>
      <input type="text" name="price" value="<%= productqtydetail.price %>" class="form-control col-md-6" id="price">
    </div>
    <div>
      <label for="quantityoption" class="ml-2">Quantity Option</label>
      <input type="text" name="quantityoption" value="<%= productqtydetail.quantityoption %>"
        class="form-control col-md-6" id="quantityoption">
    </div>
    <div>
      <label for="quantity" class="ml-2">Quantity</label>
      <input type="text" name="quantity" value="<%= productqtydetail.quantity %>" class="form-control col-md-6"
        id="quantity">
    </div>
    <div>
      <label for="shipmentpercent" class="ml-2">Shipment percentage</label>
      <input type="text" name="shipmentpercent" value="<%= productqtydetail.shipmentpercent %>"
        class="form-control col-md-6" id="shipmentpercent">
    </div>
    <div class="mt-3 ">
      <button type="submit" class="btn btn-primary col-md-3">Update Product Qantity</button>
    </div>
  </form>
</div>



<% } else { %>

<div style="margin-left: 100px;">
  <form class="form-group" method="POST" action="/addproductqty">


    <div>
      <label for="productid" class="ml-2">Choose Product</label>
      <select class="form-control col-md-6" name="productid" id="productid">
        <option>Select product</option>
        <% if (productlist != null) { %>
        <% productlist.forEach(product => { %>
        <option value="<%= product.productid %>"><%= product.productname %> </option>
        <% }) %>
        <% } else { %>
        <option><strong>product not Available</strong></option>
        <% } %>
      </select>
    </div>




    <!-- 
    <div>
      <label for="productid" class="ml-2">Product ID</label>
      <input type="text" name="productid" placeholder="Enter product id" class="form-control col-md-6" id="productid">
    </div> -->




    <div>
      <label for="price" class="ml-2">Price</label>
      <input type="text" name="price" placeholder="Enter price" class="form-control col-md-6" id="price">
    </div>
    <div>
      <label for="quantityoption" class="ml-2">Quantity Option</label>
      <input type="text" name="quantityoption" placeholder="Enter quantity options" class="form-control col-md-6"
        id="quantityoption">
    </div>
    <div>
      <label for="quantity" class="ml-2">Quantity</label>
      <input type="text" name="quantity" placeholder="Enter quantity" class="form-control col-md-6" id="quantity">
    </div>
    <div>
      <label for="shipmentpercent" class="ml-2">Shipment percentage</label>
      <input type="text" name="shipmentpercent" placeholder="Enter shipment percentage" class="form-control col-md-6"
        id="shipmentpercent">
    </div>
    <div class="mt-3 ">
      <button type="submit" class="btn btn-primary col-md-3">Add Product Qantity</button>
    </div>
  </form>
</div>


<% } %>




<!-- table section -->

<% if (productqtylist != null) { %>
<table class="table" style="margin-left: 80px;">
  <thead>
    <th scope="col">Qty ID</th>
    <th scope="col">Product ID</th>
    <th scope="col">Quantity Option</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity </th>
    <th scope="col">Shipment charge </th>
    <th scope="col">Manage</th>
  </thead>
  <tbody>
    <% productqtylist.forEach(productqty => { %>
    <tr>
      <td><%= productqty.productqtyid %></td>
      <td><%= productqty.productid %></td>
      <td><%= productqty.quantityoption %></td>
      <td><%= productqty.price %></td>
      <td><%= productqty.quantity %></td>
      <td><%= productqty.shipmentpercent %></td>
      <td>
        <div>
          <form action="/getproductqty/<%= productqty.productqtyid %>" method="get">
            <button type="submit" class="btn btn-sm btn-primary col-6" type="button" data-toggle="modal"
              name="editbtn">Edit</button>
          </form>
          <form action="/deleteproductqty/<%= productqty.productqtyid %>" method="get">
            <button type="submit" class="btn btn-sm btn-danger col-6 mt-2" type="button" name="editbtn">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<center>
  <div class="alert alert-primary align-self-center mt-5" role="alert">
    <a class="alert-link">Product quantities not available </a>
  </div>
</center>
<% } %>
</div>
</body>

</html>