<%- include('includes/adminsidebar') %>


<!-- error message loop -->
<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<div class="row mx-auto">
  <div style="margin-left: 50px; width:250px;  ">
    <div class="card bg-primary p-3 ml-5">
      <h2 class="text-light">150</h2><br />
      <h7 class="text-light">New Orders</h7>
    </div>
  </div>
  <div style="margin-left: 30px; width:250px; ">
    <div class="card bg-success p-3 ml-5">
      <h2 class="text-light">550</h2><br />
      <h7 class="text-light">Total Orders</h7>
    </div>
  </div>
  <div style="margin-left: 30px; width:250px; ">
    <div class="card bg-warning p-3 ml-5">
      <h2 class="text-light">Rs.200,000</h2><br />
      <h7 class="text-light">Total Revenue</h7>
    </div>
  </div>
  <div style="margin-left:30px; width:250px; ">
    <div class="card bg-danger p-3 ml-5">
      <h2 class="text-light">2000</h2><br />
      <h7 class="text-light">Total Visitors</h7>
    </div>
  </div>
</div>
<h4 style="margin-left: 100px;margin-top: 45px;">Recent Orders</h4>
<table class="table" style="margin-left: 80px; margin-right: 150px;">
  <thead>
    <th scope="col">S.No</th>
    <th scope="col">Product ID</th>
    <th scope="col">Product Name</th>
    <th scope="col">Customer Id</th>
    <th scope="col">Price</th>
    <th scope="col">Weight </th>
    <th scope="col">Image</th>

  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>hon001</td>
      <td>Wild bitter honey</td>
      <td>Cusid001</td>
      <td>RS 500</td>
      <td>1 L</td>
      <td><img src="/public/images/pcimg1.png" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td>1</td>
      <td>hon001</td>
      <td>Wild bitter honey</td>
      <td>Cusid001</td>
      <td>RS 500</td>
      <td>1 L</td>
      <td><img src="/public/images/pcimg1.png" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td>1</td>
      <td>hon001</td>
      <td>Wild bitter honey</td>
      <td>Cusid001</td>
      <td>RS 500</td>
      <td>1 L</td>
      <td><img src="/public/images/pcimg1.png" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td>1</td>
      <td>hon001</td>
      <td>Wild bitter honey</td>
      <td>Cusid001</td>
      <td>RS 500</td>
      <td>1 L</td>
      <td><img src="/public/images/pcimg1.png" height="50px" width="50px"></td>
    </tr>
    <tr>
      <td>1</td>
      <td>hon001</td>
      <td>Wild bitter honey</td>
      <td>Cusid001</td>
      <td>RS 500</td>
      <td>1 L</td>
      <td><img src="/public/images/pcimg1.png" height="50px" width="50px"></td>
    </tr>

  </tbody>
</table>
</div>

</body>

</html>