<%- include('includes/headers') %>

<!-- logo section-->
<section>
  <div style="text-align: center;">
    <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
  </div>
  <hr />
</section>

<% if (cartlist != null) { %>

<section class="container">
  <div class="title mt-4">
    <h5 class="col-xl-2 pt-2 pb-2 carttitle">Cart </h5>
  </div>
  <div>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">S.No</th>
          <th scope="col" style="text-align: center;">Product</th>
          <th scope="col" style="text-align: center;">Quantity</th>
          <th scope="col" style="text-align: center;">Price</th>
          <th scope="col" style="text-align: center;">manage</th>
        </tr>
      </thead>
      <tbody>
        <% var count = 0 %>
        <% var index = 0 %>
        <% cartlist.forEach(cart => { %>

        <% count = count + 1 %>


        <tr class="rowselector">
          <input type="hidden" class="cartid" name="cartid" value="<%= cart.cartid %>">
          <th scope="row" style="text-align: center;"><%= count %></th>
          <td style="text-align: center;"><img src="<%= cart.imageurl %> " height="80px" width="80px;"></td>
          <td colspan="1">
            <input type="hidden" id="index" value="<%= index %>">
            <div class="qtySelector mx-auto">
              <i class="fa fa-minus decreaseQty"></i>
              <input type="text" class="qtyValue" value="<%= cart.quantity %> " />
              <i class="fa fa-plus increaseQty"></i>
            </div>
          </td style="text-align: center;">
          <td colspan="1" style="text-align: center;"><i class="fa fa-inr ml-2 text-success">
              <input class="totalprice" style="	outline: none !important;
              border: none !important;" type="text" value="<%= cart.totalprice %>" name="totalprice" id="" readonly />
            </i> </td>
          <td scope="col" style="text-align: center;">
            <form action="/cart/deleteproduct/<%= cart.cartid %> " method="get">
              <button type="submit" class="btn btn-danger btn-sm" style="font-size: 10px;"><span
                  class="fa fa-times pr-2"></span>Remove</button>
            </form>
          </td>
        </tr>
        <% index = index + 1 %>
        <% }) %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <p style="font-size: 22px;text-align: center;"><b>Total</b></p>
            <p style="text-align: center;margin-top: 0px;">( without shipping charges )</p>
          </td>

          <td style="text-align: center;">
            <!-- <h4 style=" color: green;margin-top: 15px;text-align: center;" id="">Rs.1500</h4> -->
            <i class="fa fa-inr ml-2 text-success">&nbsp;</i><input type="text" name="finalPrice" id="finalPrice"
              value="" readonly style="	color: green !important; margin-top: 15px; outline: none !important;
            border: none !important;">
          </td>
          <td style="text-align: center;">
            <div>
              <form action="/checkout" method="get">
                <button class="btn btn-primary btn-sm ml-2" style="font-size: 13px;"><span
                    class="fa fa-check pr-2"></span>Checkout</button><br>
              </form>
              <form action="/" method="get">
                <button class="btn btn-success btn-sm ml-2 mt-3" style="font-size: 13px;"><span
                    class="fa fa-plus pr-2"></span>Add More</button>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<% } else { %>

<div class="container">
  <center>
    <div class="alert alert-primary align-self-center mt-5" role="alert">
      <a class="alert-link">Cart is empty.&nbsp;<strong>Start shopping</strong> </a>
    </div>
  </center>
</div>

<% } %>

<!-- Combo Products-->
<section id="boughttogether" class="container-fluid mt-3">
  <div class="title">
    <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">Combo Products</h5>
  </div>

  <% if (boughttogetherlist != null) { %>
  <div class="slider">
    <div class="featured owl-carousel owl-theme  mx-auto">
      <% boughttogetherlist.forEach(product => { %>
      <div class="product">
        <a href="/product/detail/<%= product.productid %>">
          <% var imgs = product.image %>
          <% var imgarr = JSON.parse(imgs)  %>
          <% var finalarr = imgarr.imagearray  %>
          <% for( let index = 0; index < finalarr.length ; index++ ) { %>
          <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top"></div>
          <% } %>
          <div class="product-bottom text-center mt-2">
            <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
            <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
            <p class="mt-0"><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                class="fa fa-star-o checked"></span></p>
            <hr class="divider" />
          </div>

          <div class="overlay">
            <button type="button" class="btn btn-info" title="eye"><i class="fa fa-cart-plus"></i></button>
          </div>
        </a>
      </div>

      <% }) %>

    </div>
  </div>
  <% } else { %>


  <div class="container">
    <center>
      <div class="alert alert-primary align-self-center mt-5" role="alert">
        <a class="alert-link">Combo products not available </a>
      </div>
    </center>
  </div>

  <% } %>

</section>


<script type="text/javascript" src="../public/js/cartupdate.js"></script>


<%- include('includes/footers') %>