<%- include('includes/headers') %>



<!-- logo section-->
<section>
  <div style="text-align: center;">
    <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
  </div>
</section>
<hr />



<!-- error message loop -->

<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<div class="container">
  <div class="row">
    <div>
      <div class="col-sm-6 ">
        <h5 class=" pl-5 pt-2 pb-2 contacttitle">Contact Information</h5>
      </div>


      <form action="/placeorder" method="POST"> </form>
      <input type="text" name="email" style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;"
        class="mt-3 pl-5" placeholder="Email" id="email">

      <h5 class="mt-3 text-dark">Shipping Address</h5>
      <input type="text" name="firstname"
        style="border-radius: 5px;height: 45px;width: 275px; border:1px solid #3AAFA9;" class="mt-3 pl-5"
        placeholder="First Name" id="firstname">
      <input type="text" name="lastname" style="border-radius: 5px;height: 45px;width: 275px; border:1px solid #3AAFA9;"
        class="mt-3 pl-5" placeholder="Last Name" id="lastname">
      <div>
        <input type="text" name="addressline1"
          style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;" class="mt-3 pl-5"
          placeholder="Address Line 1" id="addressline1">
      </div>
      <div>
        <input type="text" name="addressline2"
          style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;" class="mt-3 pl-5"
          placeholder="Address Line 2" id="addressline2">
      </div>
      <div>
        <input type="text" name="city" style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;"
          class="mt-3 pl-5" placeholder="City" id="city">
      </div>
      <div>
        <input type="text" name="state" style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;"
          class="mt-3 pl-5" placeholder="State" id="state">
      </div>
      <div>
        <input type="text" name="pincode"
          style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;" class="mt-3 pl-5"
          placeholder="Pincode" id="pincode">
      </div>
      <div>
        <input type="text" name="phone" style="border-radius: 5px;height: 45px;width: 550px; border:1px solid #3AAFA9;"
          class="mt-3 pl-5" placeholder="Phone Number" id="phone">
      </div>
      <div class="mt-3">
        <a href="/managecart" class="text-danger">Return to Cart</a>
        <!-- <a class=" mr-3 float-right btn btn-success text-light">Proceed Payment</a> -->
        <button type="submit" id="rbutton" class="mr-3 float-right btn btn-success text-light">Proceed Payment
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        </button>
        <script type="text/javascript" src="/public/js/razorpay.js"></script>
      </div>




      <hr class="mt-3" />
      <div class="row">
        <a class="text-sm text-info ml-5" style="font-size: 12px;">Refund Policy</a>
        <a class="text-sm text-info ml-5" style="font-size: 12px;">Shipping Policy</a>
        <a class="text-sm text-info ml-5" style="font-size: 12px;">Privacy Policy</a>
        <a class="text-sm text-info ml-5" style="font-size: 12px;">Terms of Services</a>
      </div>
    </div>
    <div class="col-sm-6 ml-2">
      <h5 class="ml-4 pl-5 pt-2 pb-2 orderdetails">Order Details</h5>
      <div>
        <ul>

          <% if (cartlist!=null) { %>

          <% cartlist.forEach(cart => { %>
          <li class="mt-3">
            <div class="row">
              <div>
                <img src="<%= cart.imageurl %> " width="100px" height="100px">
              </div>
              <div>
                <h6 class="ml-4 mt-4 tex-dark"><%= cart.productname %> </h6>
                <p class="ml-4"><%= cart.quantity %> </p>
              </div>
              <div class="ml-5">
                <h6 class="pl-5 mt-4 text-success" name="totalprice"><i
                    class="fa fa-inr ml-2 text-success">&nbsp;</i><%= cart.totalprice %> </h6>
              </div>
            </div>
          </li>


          <% }) %>
        </ul>
        <hr />
      </div>
      <div class="row" style="float: right;margin-right: 120px;">
        <p class="" style="font-size: 18px;margin-top: 12px;">Subtotal :</p>

        <p class="text-success mt-1" style="font-size: 25px;margin-left: 35px;"><b><i
              class="fa fa-inr ml-2 text-success">&nbsp;</i><%= cartlist.finalprice %></b></p>
      </div>
      <div class="row" style="float: right;margin-right: 120px;">
        <p class="" style="font-size: 18px;margin-top: 12px;">Shipping fee:</p>
        <p class="text-success mt-1" style="font-size: 25px;margin-left: 35px;"><b><i
              class="fa fa-inr ml-2 text-success">&nbsp;</i><%= cartlist.shippingcharge %></b>
        </p>
        <input type="hidden" name="shippingcharge" id="shippingcharge" value="<%= cartlist.shippingcharge %>">
        </hr>
      </div>
      <div style="margin-top: 130px;">
        <hr />
      </div>
      <div class="row" style="float: right;margin-right: 120px;">
        <p class="" style="font-size: 18px;margin-top: 12px;">Total:</p>
        <p class="text-success mt-1" style="font-size: 25px;margin-left: 35px;"><b>
            <i class="fa fa-inr ml-2 text-success">&nbsp;</i><input type="number" class="mx-sm-2" style="	outline: none !important;
            border: none !important; color: green ; font-weight: bold;" id="amount" value=<%= cartlist.grandtotal %>
              readonly></b></p>
        <p style="margin-top: 12px;margin-left: 20px;">(Inclusive all taxes)</p>
        <hr />
      </div>

      <div style="margin-top: 80px;">
        <hr />
      </div>
      <% } %>

      <!-- <li class="mt-3">
            <div class="row">
              <div>
                <img src="/public/images/peimg1.png" width="100px" height="100px">
              </div>
              <div>
                <h6 class="ml-4 mt-4 tex-dark">Product Name</h6>
                <p class="ml-4">some information</p>
              </div>
              <div class="ml-5">
                <h6 class="pl-5 mt-4 text-success">Rs.1500</h6>
              </div>
            </div>
          </li> -->



    </div>

  </div>
</div>






<%- include('includes/footers') %>