<%- include('includes/headers') %>


<!-- logo section-->
<section>
  <div style="text-align: center;">
    <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% if (customer != null) { %>


      <center>
        <form action="/customer/update" method="POST">
          <div class="signin mt-3">
            <div class="mt-3">


              <input type="hidden" name="customerid" value="<%= customer.customerid %>" class="form-control col-md-6"
                id="customerid">

              <div>
                <label for="name" class="ml-2">Customer Name</label>
                <input type="text" name="name" value="<%= customer.name %>" class="form-control col-md-6" id="name">
              </div>

              <div>
                <label for="email" class="ml-2">Email</label>
                <input type="email" name="email" value="<%= customer.email %>" class="form-control col-md-6" id="email">
              </div>
              <div>
                <label for="phone" class="ml-2">Phone No</label>
                <input type="text" name="phone" value="<%= customer.phone %>" class="form-control col-md-6" id="phone">
              </div>
              <div>
                <label for="addressline1" class="ml-2">Address Line1</label>
                <input type="text" name="addressline1" value="<%= customer.addressline1 %>"
                  class="form-control col-md-6" id="addressline1">
              </div>
              <div>
                <label for="addressline2" class="ml-2">Address Line2</label>
                <input type="text" name="addressline2" value="<%= customer.addressline2 %>"
                  class="form-control col-md-6" id="addressline2">
              </div>
              <div>
                <label for="city" class="ml-2">City</label>
                <input type="text" name="city" value="<%= customer.city %>" class="form-control col-md-6" id="city">
              </div>
              <div>
                <label for="state" class="ml-2">State</label>
                <input type="text" name="state" value="<%= customer.state %>" class="form-control col-md-6" id="state">
              </div>
              <div>
                <label for="pincode" class="ml-2">Pincode</label>
                <input type="text" name="pincode" value="<%= customer.pincode %>" class="form-control col-md-6"
                  id="name">
              </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" name="customerupdate" class="btn btn-info mx-auto col-sm-4">Update</button>
            </div>
          </div>
        </form>
      </center>

      <% } %>



    </div>
  </div>
</div>




<%- include('includes/footers') %>