<%- include('includes/headers') %>



<!-- logo section-->
<section>
    <div style="text-align: center;">
        <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
    </div>
</section>

<!-- nav bar -->
<nav class="navbar navbar-expand-lg container">

    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars mr-3"></span><span class="ml-1">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item ml-3">
                <a href="/" class="text-dark active">Home</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>
            </li>
            <li class="nav-item ml-3">
                <a href="#Featuredproducts" class="text-dark">Featured Products</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

            </li>
            <li class="nav-item ml-3">
                <a href="#allproducts" class="text-dark">All Products</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

            </li>
            <li class="nav-item ml-3">
                <a href="#boughttogether" class="text-dark">Combo Products</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

            </li>
            <li class="nav-item ml-3">
                <a href="#topselling" class="text-dark">Top Selling</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

            </li>
            <li class="nav-item ml-3">
                <a href="#videos" class="text-dark">Videos</a>
                <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

            </li>
            <li class="nav-item ml-3">
                <a href="#" class="text-dark">Contact us</a>
            </li>

        </ul>
    </div>
</nav>

<!-- slider section -->
<section class="mt-3 container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="top: 93%;">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"
                style="height: 6px;width: 6px;border-radius: 100%;margin-left: 10px;"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""
                style="height: 6px;width: 6px;border-radius: 100%;margin-left: 10px;"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""
                style="height: 6px;width: 6px;border-radius: 100%;margin-left: 10px;"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""
                style="height: 6px;width: 6px;border-radius: 100%;margin-left: 10px;"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/public/images/imageone.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/public/images/imagetwo.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/public/images/imagethree.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/public/images/imagefour.jpg" alt="Fourth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!-- Featured Products-->

<section id="Featuredproducts" class="container-fluid mt-3">
    <div class="title">
        <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">Featured Produts</h5>
    </div>


    <% if (featuredlist != null) { %>
    <div class="slider">
        <div class="featured owl-carousel owl-theme  mx-auto">
            <% featuredlist.forEach(product => { %>
            <div class="product">
                <a href="/product/detail/<%= product.productid %>">
                    <% var imgs = product.image %>
                    <% var imgarr = JSON.parse(imgs)  %>
                    <% var finalarr = imgarr.imagearray  %>
                    <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                    <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top"></div>
                    <% } %>
                    <div class="product-bottom text-center mt-2">
                        <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
                        <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
                        <p class="mt-0"><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star-o checked"></span></p>
                        <hr class="divider" />
                    </div>

                    <div class="overlay">
                        <button type="button" class="btn btn-info" title="eye"><i class="fa fa-cart-plus"></i></button>
                    </div>
                </a>
            </div>

            <% }) %>

        </div>
    </div>
    <% } else { %>
    <div class="container">
        <center>
            <div class="alert alert-primary align-self-center mt-5" role="alert">
                <a class="alert-link">Featured products not available </a>
            </div>
        </center>
    </div>

    <% } %>

</section>


<!-- Top Products-->
<section id="topselling" class="container-fluid mt-3">
    <div class="title">
        <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">Top Selling</h5>
    </div>


    <% if (topsellinglist != null) { %>
    <div class="slider">
        <div class="featured owl-carousel owl-theme  mx-auto">
            <% topsellinglist.forEach(product => { %>
            <div class="product">
                <a href="/product/detail/<%= product.productid %>">
                    <% var imgs = product.image %>
                    <% var imgarr = JSON.parse(imgs)  %>
                    <% var finalarr = imgarr.imagearray  %>
                    <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                    <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top"></div>
                    <% } %>
                    <div class="product-bottom text-center mt-2">
                        <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
                        <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
                        <p class="mt-0"><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star-o checked"></span></p>
                        <hr class="divider" />
                    </div>

                    <div class="overlay">
                        <button type="button" class="btn btn-info" title="eye"><i class="fa fa-cart-plus"></i></button>
                    </div>
                </a>
            </div>

            <% }) %>

        </div>
    </div>
    <% } else { %>


    <div class="container">
        <center>
            <div class="alert alert-primary align-self-center mt-5" role="alert">
                <a class="alert-link">Top selling products not available </a>
            </div>
        </center>
    </div>



    <% } %>

</section>



<!-- All Products-->
<section id="allproducts">
    <div class="title">
        <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">All Products</h5>
    </div>
    <div class="container-fluid allproductsdisplay">
        <div class="row ">
            <div class="col-xl-2 filter">
                <h6 style="text-align: center; background-color: orange;" class="pb-1 pt-1">Filter By</h6>

                <p class="ml-2"><b>Category</b></p>
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Honey</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Tea</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Coffee</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Others</label>


                <p class="ml-2 mt-2"><b>Package</b></p>
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">250 gram</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">500 gram</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">1 kg</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">more</label>


                <p class="ml-2 mt-2"><b>Price</b></p>
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Below Rs. 100</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Below Rs. 250</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Below Rs. 500</label><br />
                <input type="checkbox" id="honey" name="honey" class="ml-3">
                <label for="honey">Below Rs. 1000</label>
                </ul>
            </div>
            <div class="col-xl-8 col-12">
                <div class="row">
                    <% if (productlist != null) { %>
                    <% productlist.forEach(product => { %>
                    <div class="col-6 col-xl-3 product">
                        <a href="/product/detail/<%= product.productid %>">
                            <% var imgs = product.image %>
                            <% var imgarr = JSON.parse(imgs)  %>
                            <% var finalarr = imgarr.imagearray  %>
                            <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                            <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top">
                            </div>
                            <% } %>
                            <div class="product-bottom text-center mt-2">
                                <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
                                <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
                                <p class="mt-0"><span class="fa fa-star checked"></span><span
                                        class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                                        class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
                                <hr class="divider" />
                            </div>
                            <div class="overlay">
                                <button type="button" class="btn btn-info" title="eye"><i
                                        class="fa fa-cart-plus"></i></button>
                            </div>
                        </a>
                    </div>
                    <% }) %>

                    <% } else { %>

                    <div class="container">
                        <center>
                            <div class="alert alert-primary align-self-center mt-5" role="alert">
                                <a class="alert-link">Products not available </a>
                            </div>
                        </center>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Combo Products-->
<section id="boughttogether" class="container-fluid mt-3">
    <div class="title">
        <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">Combo Products</h5>
    </div>


    <% if (boughttogetherlist != null) { %>
    <div class="slider">
        <div class="featured owl-carousel owl-theme  mx-auto">
            <% boughttogetherlist.forEach(product => { %>
            <div class="product">
                <a href="/product/detail/<%= product.productid %>">
                    <% var imgs = product.image %>
                    <% var imgarr = JSON.parse(imgs)  %>
                    <% var finalarr = imgarr.imagearray  %>
                    <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                    <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top"></div>
                    <% } %>
                    <div class="product-bottom text-center mt-2">
                        <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
                        <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
                        <p class="mt-0"><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                                class="fa fa-star checked"></span><span class="fa fa-star-o checked"></span></p>
                        <hr class="divider" />
                    </div>

                    <div class="overlay">
                        <button type="button" class="btn btn-info" title="eye"><i class="fa fa-cart-plus"></i></button>
                    </div>
                </a>
            </div>

            <% }) %>

        </div>
    </div>
    <% } else { %>


    <div class="container">
        <center>
            <div class="alert alert-primary align-self-center mt-5" role="alert">
                <a class="alert-link">Combo products not available </a>
            </div>
        </center>
    </div>

    <% } %>

</section>


<!-- Video section-->
<section id="videos">
    <div class="title">
        <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5">Videos</h5>
    </div>
    <div class="container-fluid">
        <div class="row topsell">



            <% if (videolist != null) { %>

            <% videolist.forEach(video => { %>

            <div class="col-6 col-xl-3">
                <div class="video-top mx-auto">
                    <iframe width="560" height="315" src="<%= video.link %>" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="<%= video.link %>" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div class="video-bottom text-center mt-2">
                    <h6 class="mb-0 pb-0"><%= video.title %> </h6>
                    <hr class="divider" />
                </div>
            </div>

            <% }) %>


            <% } %>










            <!-- 
            <div class="col-6 col-xl-3">
                <div class="video-top mx-auto">
                    <img src="/public/images/honey.jpg" class="card-img-top">
                </div>
                <div class="video-bottom text-center mt-2">
                    <h6 class="mb-0 pb-0">Hot Coffee</h6>
                    <hr class="divider" />
                </div>
            </div> -->

        </div>
    </div>
</section>



<%- include('includes/footers') %>