<%- include('includes/headers') %>

<!-- logo section-->
<section>
  <div style="text-align: center;">
    <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <div class="error-template">
          <h1 class="mt-3">
            <strong><%= name %>,</strong> Thank you for being our customer</h1>
          <h3 class="mt-3">
            Your order has been placed successfully</h3>
          <div class="error-details mt-5">
            Shortly you will get email with order details and tracking number
          </div>
          <div class="error-actions mt-3">
            <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home" aria-hidden="true"></span>
              Take Me Home </a>
            <a href="/contact" class="btn btn-default btn-lg"><span class="fa fa-envelope-o"></span> Contact
              Support </a>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>