<%- include('includes/headers') %>

<!-- logo section-->
<section>
   <div style="text-align: center;">
      <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
   </div>
</section>


<!-- nav bar -->
<nav class="navbar navbar-expand-lg container">

   <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars mr-3"></span><span class="ml-1">Menu</span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
         <li class="nav-item ml-3">
            <a href="#" class="text-dark active">Home</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>
         </li>
         <li class="nav-item ml-3">
            <a href="#Featuredproducts" class="text-dark">Featured Products</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

         </li>
         <li class="nav-item ml-3">
            <a href="#allproducts" class="text-dark">All Products</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

         </li>
         <li class="nav-item ml-3">
            <a href="#boughttogether" class="text-dark">Combo Products</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

         </li>
         <li class="nav-item ml-3">
            <a href="#topselling" class="text-dark">Top Selling</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

         </li>
         <li class="nav-item ml-3">
            <a href="#videos" class="text-dark">Videos</a>
            <span style="color: #3AAFA9;margin-left: 15px;" class="seperator"><b>|</b></span>

         </li>
         <li class="nav-item ml-3">
            <a href="#" class="text-dark">Contact us</a>
         </li>

      </ul>
   </div>
</nav>
<hr />



<!-- error message loop -->

<% errors.forEach(message => { %>
<div class="alert alert-danger text-center"><%= message %> </div>
<% });  %>


<% if (productdetail != null) { %>
<div class="container">
   <div class="row">
      <div class="col-sm-6 mt-4 mx-auto">
         <% var imgs = productdetail.image %>
         <% var imgarr = JSON.parse(imgs)  %>
         <% var finalarr = imgarr.imagearray  %>

         <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" width="500px" height="500px">

            <div class="carousel-inner">
               <div class="carousel-item active">
                  <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                  <img src=<%= finalarr[index] %> class="d-block" alt="First slide" height="500px" width="500px">
                  <% } %>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div> -->


         <!--                
               <div class="carousel-item">
                  <img class="d-block " src="/public/images/pcimg1.png" alt="First slide" height="500px" width="500px">
               </div> -->
         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <% for( let index = 0; index < 1 ; index++ ) { %>
                  <img src=<%= finalarr[index] %> class="d-block" alt="First slide" height="500px" width="500px">
                  <% } %>
               </div>
               <% for( let index = 1; index < finalarr.length ; index++ ) { %>
               <div class="carousel-item">

                  <img src=<%= finalarr[index] %> class="d-block" alt="First slide" height="500px" width="500px">

               </div>
               <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
            </a>
         </div>

      </div>
      <form action="/cart/addproduct" method="post" id="addcartform">
         <h3 class="mt-2 text-dark"><%= productdetail.productname %></h3>
         <hr />
         <!-- <p><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
               class="fa fa-star"></span><span class="fa fa-star-o"></span> <b class="ml-2">232</b> Reviews</p> -->


         <p>
         <div id="rateYo">
         </div>
         <b class="ml-1">232</b> Reviews</p>

         <script>

            $(function () {

               $("#rateYo").rateYo({
                  rating: 4,
                  starWidth: "20px",
                  readOnly: true
               });

            });

         </script>
         <% var count = 0  %>

         <% var count = 0  %>
         <input type="hidden" value="<%= finalarr[0] %>" id="imageurl" name="imageurl" />
         <input type="hidden" value="<%= productdetail.productid %>" name="productid" />
         <input type="hidden" value="<%= productdetail.productname %>" name="productname" />


         <div>

            <div class="col-xs-2">
               <h3>
                  <i class="fa fa-inr ml-2 text-success">
                     <input class="ml-2 text-success" style="	outline: none !important;
                     border: none !important;" type="text" value="<%= productqtylist[count].price %>" name="totalprice"
                        id="totalprice" readonly />
                  </i>
               </h3>
            </div>
            <label for="quantityoption" class="ml-2">Grams</label>
            <select class="form-control col-md-6 quantityoption" name="quantityoption" id="quantityoption">
               <% productqtylist.forEach(productqty => { %>
               <option class="quantityvalue" id="quantityvalue" value="<%= productqty.price %>">
                  <%= productqty.quantityoption %>
               </option>
               <% }) %>
            </select>
         </div>

         <input type="hidden" name="hiddenquantityoption" id="hiddenquantityoption" value="">



         <div class="ctext-right mt-4">
            <div>
               <p class="text-dark">Check Delivery Avalability</p>
            </div>
         </div>

         <div class="mt-3 row">
            <input type="text" name="pincode" id="pincode" placeholder="Enter your pincode"
               style="width: 200px;height: 40px;margin-left: 15px; ">
            <button type="button" id="pincodebtn" class="btn btn-primary ml-1">Check Now</button>

            <!-- delhivery -->
            <script type="text/javascript" src="/public/js/delhivery.js"></script>
         </div>
         <h6 class="text-dark ml-2 mt-3">Quantity</h6>
         <div class="row">
            <div class="qtySelector ml-3">
               <i class="fa fa-minus decreaseQty"></i>
               <input id="quantity" name="quantity" type="text" class="qtyValue" value="1" readonly
                  style="outline: none;" />
               <i class="fa fa-plus increaseQty"></i>
            </div>

            <div>
               <button type="submit" id="addcartbtn" class="btn btn-success mt-2 ml-5"> Add to cart</button>
            </div>
         </div>

         <h6 class="text-dark mt-3 ml-2">Description :</h6>
         <p class="text-dark"><%= productdetail.description %></p>
      </form>
      <% } else { %>

      <div class="container">
         <center>
            <div class="alert alert-primary align-self-center mt-5" role="alert">
               <a class="alert-link">Product detail not available </a>
            </div>
         </center>
      </div>

      <% } %>
   </div>



   <div class="title mt-4">
      <h5 class="col-xl-2 pt-2 pb-2 review">Customer Reviews</h5>
   </div>

   <% if (reviewlist != null) { %>

   <ul>
      <% reviewlist.forEach(review => { %>
      <li style="list-style: none;">

         <h6><%= review.customername %> <span class="ml-4" id="myrate">
               <div id="rateYo1">
               </div>
            </span>
         </h6>
         <script>

            $(function () {

               $("#rateYo1").rateYo({
                  rating: $('#setstarvalue').val(),
                  starWidth: "15px",
                  readOnly: true
               });

            });

         </script>
         <input type="hidden" name="setstarvalue" id="setstarvalue" value="<%= review.star %>">
         <p class="text-secondary" style="font-size: 12px;"><%= review.createdAt %> </p>
         <p class="text-dark">"<%= review.review %>"</p>
         <hr />
      </li>
      <% }) %>
   </ul>


   <% } else { %>
   <div class="container">
      <center>
         <div class="alert alert-primary align-self-center mt-5" role="alert">
            <a class="alert-link">Review not available</a>
         </div>
      </center>
   </div>
   <% } %>

   <form action="/add/review" method="post">
      <div>
         <h6>Rating <span class="ml-4">
               <div id="starit">
               </div>
            </span>
         </h6>
         <script>
            $(function () {
               $("#starit").rateYo({
                  starWidth: "15px",
               });
               $('#starit').click(function () {
                  var $rateYo = $("#starit").rateYo();
                  var rating = $rateYo.rateYo("rating");
                  console.log(rating)
                  $("#starvalue").val(rating)
               })
            });
         </script>
         <input type="hidden" name="starvalue" id="starvalue" value="">
         <input type="hidden" name="productid" id="productid" value="<%= productdetail.productid %>">
         <textarea name="reviewprod" id="reviewprod" cols="30" rows="10"
            style="border-radius: 5px;height: 100px;width: 600px; border:1px solid #3AAFA9;" class="mt-3 ">
      </textarea>
      </div>
      <div class="text-center mt-3">
         <button type="submit" name="reviewit" class="btn btn-info mx-auto col-sm-1">Review It</button>
      </div>

   </form>
</div>





<section class="container">
   <div class="title mt-4">
      <h5 class="col-xl-2 pt-2 pb-2 related">Related Products</h5>
   </div>

   <div>

      <% if (featuredlist != null) { %>
      <div class="slider">
         <div class="featured owl-carousel owl-theme  mx-auto">
            <% featuredlist.forEach(product => { %>
            <div class="product">
               <a href="/product/detail/<%= product.productid %>">
                  <% var imgs = product.image %>
                  <% var imgarr = JSON.parse(imgs)  %>
                  <% var finalarr = imgarr.imagearray  %>
                  <% for( let index = 0; index < finalarr.length ; index++ ) { %>
                  <div class=" product-top mx-auto"><img src=<%= finalarr[index] %> class="card-img-top"></div>
                  <% } %>
                  <div class="product-bottom text-center mt-2">
                     <p class="mb-0 pb-0 text-dark"><%= product.productname %></p>
                     <p class="mb-0 text-success"><b>Rs.<%= product.price %></b></p>
                     <p class="mt-0"><span class="fa fa-star checked"></span><span
                           class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span
                           class="fa fa-star checked"></span><span class="fa fa-star-o checked"></span></p>
                     <hr class="divider" />
                  </div>

                  <div class="overlay">
                     <button type="button" class="btn btn-info" title="eye"><i class="fa fa-cart-plus"></i></button>
                  </div>
               </a>
            </div>

            <% }) %>

         </div>
      </div>
      <% } else { %>
      <div class="container">
         <center>
            <div class="alert alert-primary align-self-center mt-5" role="alert">
               <a class="alert-link">Featured products not available </a>
            </div>
         </center>
      </div>

      <% } %>

   </div>

</section>


<script type="text/javascript">

   var minVal = 1, maxVal = 20;
   $(".increaseQty").on('click', function () {
      var $parentElm = $(this).parents(".qtySelector");
      $(this).addClass("clicked");
      setTimeout(function () {
         $(".clicked").removeClass("clicked");
      }, 100);
      var value = $parentElm.find(".qtyValue").val();
      var price = document.getElementById("totalprice").value
      if (value < maxVal) {
         var initial_price = price / value;
         value++;
         price = initial_price * value;
      }
      document.getElementById("totalprice").value = price;
      $parentElm.find(".qtyValue").val(value);
   });
   $(".decreaseQty").on('click', function () {
      var $parentElm = $(this).parents(".qtySelector");
      $(this).addClass("clicked");
      setTimeout(function () { $(".clicked").removeClass("clicked"); }, 100);
      var value = $parentElm.find(".qtyValue").val();
      var price = document.getElementById("totalprice").value;
      if (value > 1) {
         var initial_price = price / value;
         value--;
         price = initial_price * value;
      }
      document.getElementById("totalprice").value = price;
      $parentElm.find(".qtyValue").val(value);
   });


   let quantityoptiongrams = 0;
   let quantityoptionprice = 0;

   $('select').on('change', function () {
      quantityoptionprice = $('#quantityoption').find(":selected").val()
      console.log(quantityoptionprice)
      document.getElementById("totalprice").value = quantityoptionprice;
      document.getElementById("quantity").value = 1;
   });
   
   $('document').ready(function () {
      quantityoptiongrams = $('#quantityoption').find(":selected").text()
      document.getElementById('hiddenquantityoption').value = quantityoptiongrams.trim()
      console.log("fomr  ", document.getElementById('hiddenquantityoption').value)
   })

   $('#addcartform').submit(function (event) {
      event.preventDefault(); //this will prevent the default submit
      quantityoptiongrams = $('#quantityoption').find(":selected").text()
      console.log(quantityoptiongrams.trim())
      document.getElementById('hiddenquantityoption').value = quantityoptiongrams.trim()
      console.log("fomr  ", document.getElementById('hiddenquantityoption').value)
      this.submit();
   })


</script>


<%- include('includes/footers') %>