<%- include('includes/headers') %>

<div class="container mt-2">
  <!-- logo section-->
  <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5 mt-3">Sign In</h5>
  <section>
    <div style="text-align: center;">
      <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
    </div>
  </section>

  <!-- error message loop -->

  <% errors.forEach(message => { %>
  <div class="alert alert-danger text-center"><%= message %> </div>
  <% });  %>

  <div class="signin mt-3">
    <form action="/signin" method="POST">
      <div class="text-center">
        <input type="text" name="email" class="col-sm-4 " placeholder=" Email"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;"><br />
        <input type="password" name="password" class="col-sm-4 mt-3" placeholder=" Password"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">

        <div class="text-center mt-3">
          <button class="btn btn-info mx-auto col-sm-4">Sign In</button><br />
        </div>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="/signinwithotp" class="col-sm-4 text-center mt-3 pt-2"
        style="text-align: center;text-decoration: underline;">SignIn
        with OTP</a>
    </div>

    <div class="text-center ml-4 mt-2">
      <a href"" class="col-sm-4 text-center">Forgot Password ?</a>
    </div>
    <div class="text-center ml-4 mt-4">
      <h6 class="text-center" style="text-align: center;">Don't have an account ? <span><a href="/signup">Sign
            up</a></span></h6>
    </div>
  </div>
</div>



<%- include('includes/footers') %>