<%- include('includes/headers') %>


<div class="container mt-2">
  <!-- logo section-->
  <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5 mt-3">SignUp</h5>
  <section>
    <div style="text-align: center;">
      <a href="/"><img src="/public/images/logowild.png" width="180px" height="180px"></a>
    </div>
  </section>

  <!-- error message loop -->
  <% errors.forEach(message => { %>
  <div class="alert alert-danger text-center"><%= message %> </div>
  <% });  %>

  <form action="/signup" method="POST">
    <div class="signin mt-3">
      <div class="text-center">
        <input type="text" name="name" class="col-sm-6 " placeholder=" Name"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">
        <input type="email" name="email" class="col-sm-6 mt-3 " placeholder=" Email"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">
        <input type="password" name="password" class="col-sm-6 mt-3" placeholder=" Password"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">
        <input type="password" name="conformpassword" class="col-sm-6 mt-3" placeholder=" Confirm Password"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">
        <input type="number" name="phone" class="col-sm-6 mt-3" placeholder=" Phone number"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;">
      </div>
      <div class="text-center mt-3">
        <button type="submit" name="signup" class="btn btn-info mx-auto col-sm-4">Sign Up</button>
      </div>
      <div class="text-center ml-4 mt-4">
        <a href"" class="col-sm-4 text-center">Already have an account ? <span><button
              class="btn btn-info">Signin</button></span></a>

      </div>
    </div>
  </form>
</div>

<%- include('includes/footers') %>