<%- include('includes/headers') %>


<div class="container mt-2">
  <!-- logo section-->
  <h5 class="pt-2 pb-2 featuredtext ml-5 mr-5 mt-3">Sign In</h5>
  <section>
    <div style="text-align: center;">
      <img src="/public/images/logowild.png" width="180px" height="180px">
    </div>
  </section>
  <form action="/validateotp" method="POST">
    <div class="signin mt-3">
      <div class="text-center">
        <input type="number" name="validateotp" class="col-sm-4 " placeholder="Enter your OTP"
          style="height: 45px;border-radius: 5px;border: 1px solid gray;"><br />
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-info mx-auto col-sm-4">Validate OTP</button><br />
      </div>
    </div>
  </form>
</div>



<%- include('includes/footers') %>