#topnav{
	background-color: #3AAFA9;
	margin-right: 0px;
	margin-left: 0px;
}
.product a{
	text-decoration: none;
}

ul .nav-item   a:hover{
	background-color: #3AAFA9;
	padding: 3px;
	border-radius: 5px;
	text-decoration: none;

}
ul .nav-item   a:active{
	background-color: #3AAFA9;
	padding: 3px;
	border-radius: 5px;
	text-decoration: none;

}
.slider{
	margin-left: 80px;
	margin-right: 80px;
}
.topsell{
	margin-left: 130px;
	margin-right: 130px;
}
a{
	text-decoration: none;
}
.navbar .navbar-nav .nav-item .nav-link:active{
     	background-color: #3AAFA9;
}





.title{
}
.fa-star{
	color: gold;
}
.fa-star-o{
	color: gold;
}
.item{
}
.mobile{
	display: none;
}
.searchinput{
	width: 340px;
	height: 35px;
	border-radius: 25px;
	border:none;
	outline:none;
	/* background-image: url(../images/searchpng.png); */
	background-repeat: no-repeat;
	background-position: 2px 3px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.carousel .carousel-control-prev{
  border-radius: 30px;
  background: #7A3AAfA9;
  border:1px solid grey;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 5%;
}
.carousel .carousel-control-next{
   border-radius: 30px;
  background: #7A3AAfA9;
  border:1px solid grey;
  height: 30px;
  width: 30px;
  top: 50%;
  right: 5%;
}
.indicator{
	height: 10px;
	width: 10px;
	border-radius:25px;
}
a{
	font-size: 17px;
}
a:active{
	color: #3AAFA9;
}

.navbar .nav-item:active{
	color: #3AAFA9;
}
.navbar-nav >.nav-item > .active > a {
  color: aqua;
  background-color: chartreuse;    
}
.featuredtext
{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    text-align: center;
    border-radius: 5px;
}
.newarrivalstxt
{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
}

.overlay{
	display: block;
    right: 1px;
	top: 1px;
	position: absolute;;
	width: 70px;
}
.overlay button{
	border-radius: 50px;
}

.topselling
{
 border: 2px solid #3AAFA9;
 display: block;
}
.allproducts
{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    margin-left: 130px;
}

.review
{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
}
.review::after
{
	content: '';
	border-top: 37.5px solid #3AAFA9;
	border-right: 40px solid transparent;
	position: relative;
	left:21px;
	top: 31px;
}
.related
{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
}
.related::after
{
	content: '';
	border-top: 37.5px solid #3AAFA9;
	border-right: 40px solid transparent;
	position: relative;
	left:31px;
	top: 31.5px;

}
.carttitle
{
 background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
}
.carttitle::after
{
	content: '';
	border-top: 37.5px solid #3AAFA9;
	border-right: 40px solid transparent;
	position: relative;
	left:135px;
	top: 31.5px;

}
.contacttitle
{
    background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    width: 300px;
}
.contacttitle::after
{
	content: '';
	border-top: 37.5px solid #3AAFA9;
	border-right: 40px solid transparent;
	position: relative;
	left:87px;
	top: 31.5px;

}
.orderdetails
{
    background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    width: 300px;
}
.orderdetails::after
{
	content: '';
	border-top: 37.5px solid #3AAFA9;
	border-right: 40px solid transparent;
	position: relative;
	left:144px;
	top: 31.5px;

}
.signinhead
{
    background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    width: 300px;
}



.filter{
}
.product-top{
	width: 200px;
	height: 200px;
	margin-top: 25px;
	display: block;
	overflow: hidden;

}
.video-top{
	width: 200px;
	height: 100px;
	margin-top: 25px;
	margin-bottom: 0px;
	display: block;
	overflow: hidden;

}
.product-top img{
	text-align: center;
	margin: 0,auto;
}
.video-top img{
	text-align: center;
	margin: 0,auto;
}
.divider{
	background-color:#3AAFA9;
}
.filter{
	margin-left: 130px;
}
.allproductsdisplay{
	
}
.videotitle{
	background:#3AAFA9;
	color: #ffffff;
	font-size: 18px;
    font-style: bold;
    margin-left: 130px;
}

.owl-videos{
	margin-right: 150px;
}

.qtySelector{
	border: 1px solid #ddd;
	width: 107px;
	height: 35px;
	margin-left: 10px;
	margin-top: 10px;
}
.qtySelector .fa{
	padding: 10px 5px;
	width: 35px;
	height: 100%;
	float: left;
	cursor: pointer;
}
.qtySelector .fa.clicked{
	font-size: 12px;
	padding: 12px 5px;
}
.qtySelector .fa-minus{
	border-right: 1px solid #ddd;
}
.qtySelector .fa-plus{
	border-left: 1px solid #ddd;
}
.qtySelector .qtyValue{
	border: none;
	padding: 5px;
	width: 35px;
	height: 100%;
	float: left;
	text-align: center
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  background:cyan;
  color: white;
}
.whatsapp {
  background:#4fce5d;
  color: white;
}

.youtube {
  background:red;
  color: white;
}



@media only screen and (max-width: 360px) {
	.carousel{
		margin-left: 10px;
		margin-right: 10px;
	}
	.navbar{
	  width: 200px;
	}
	.nav-item{
		margin-top: 5px;
	}
	.Sign{
		margin-left: 120px;
	}
	.featuredtext{
		margin-left:0px;
	}

   .topselling{
   	margin-left: 0px;
   }
	.slider{
		margin-left: 0px;
		margin-right: 0px;
	}
	.topsell{
	margin-left:0px;
	margin-right:0px;
}
	.item .card img{
		width: 100px;
		height: 100px;
	}
	.navbar{
		border:none;
	}
	.filter{
	margin-left: 0px;
} 
   .allproducts{
   	margin-left: 0px;
   }
   .allproductsdisplay{
	margin-left: 0px;
    margin-right: 0px;
}
.seperator{
	display: none;
}

.nooutline{
	outline: none !important;
    border: none !important;
}

}


